@import url("https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
/* 
font-family: 'East Sea Dokdo', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Open Sans', sans-serif; */

* {
    box-sizing: border-box;
}

body {
    background-color: ghostwhite;
    font-family: "Open Sans", sans-serif;
}

.row-wrapper {
    display: flex;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    margin-top: 25;
    margin-bottom: 25;
}

/* REGISTRATION */

#reg-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#reg-wrapper p {
    margin-top: 30px;
}

#login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* GENERAL SETTINGS */

button {
    color: white;
    background-color: black;
    border: 1px solid black;
    margin-top: 30px;
    border-radius: 5px;
    cursor: pointer;
}

#submit-button {
    width: 100px;
    height: 30px;
    color: white;
    background-color: black;
    border: 1px solid black;
    margin-top: 30px;
    border-radius: 5px;
    cursor: pointer;
}

/* NAVIGATION BAR TOP */

.nav-top {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-top h1 {
    font-family: "Dancing Script", cursive;
    font-size: 50px;
    margin-left: 50px;
}

.nav-top img {
    z-index: 3;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px black solid;
    cursor: pointer;
}

#nav-top-image {
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
}

#name-logout {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
    justify-self: center;
}

#name-log-wrapper {
    position: relative;
    left: 40px;
    background-color: black;
    padding-right: 80px;
    padding-left: 40px;
    border-radius: 5px;
}

#name-logout h2 {
    margin-bottom: 0;
    font-size: 25px;
    color: white;
}

#logout-wrapper {
    position: relative;
    left: 80px;
    cursor: pointer;
}

.divisory {
    position: relative;
    width: 100%;
    height: 5px;
    background-color: black;
    margin: auto;
}

.pic-profile-wrapper {
    z-index: 2;
    position: relative;
    right: 50px;
    display: flex;
    flex-direction: row;
}

#name-container {
    z-index: 2;
    width: 170px;
    height: 30px;
    position: relative;
    background-color: black;
    left: 20px;
    bottom: 10px;
    justify-self: center;
    align-self: center;
    border-radius: 5px;
    color: white;
    border: 1px solid black;
    padding: 3px;
    text-align: left;
}

#name-container h2 {
    z-index: 2;
    position: relative;
    bottom: 5px;
}

.logout-modal {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.MuiSvgIcon-root {
    font-size: 2em;
    position: relative;
}

.pic-profile-wrapper h2 {
    position: relative;
    right: 10px;
    margin: 0;
}

.file-wrapper {
    position: fixed;
    z-index: 2;
    width: 20%;
    height: 10%;
    top: 40%;
    left: 35%;
    margin: auto;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    background-color: white;
    border: 5px solid black;
    border-radius: 5px;
}

.file-wrapper span {
    position: absolute;
    top: 2%;
    right: 5%;
    font-size: 40px;
    cursor: pointer;
}

.label-wrapper {
    display: flex;
    flex-direction: column;
}

.preview-wrapper {
    display: flex;
    position: relative;
    left: -15%;
    top: -25%;
}

.preview-wrapper p {
    margin-left: 10px;
}

input[type="file"] {
    display: none;
}

label {
    color: white;
    background-color: black;
    width: 150px;
    font-size: 20px;
    text-align: center;
    text-justify: center;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    left: -15%;
    top: -35%;
}

#submit-button {
    position: absolute;
    bottom: 10%;
    left: 7%;
    margin-top: 0px;
}

#before-submit {
    width: 40px;
    height: 40px;
    border-radius: 2px;
    border: 1px black solid;
    margin-top: 5px;
}

/* PROFILES GENERAL (otheprofile or own profile) */

.profiles {
    margin-left: 50px;
    margin-top: 50px;
}

/* PROFILE SECTION */

.profile-section {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

.profile-section img {
    /* display: block; */
    width: 300px;
    height: 300px;
    border-radius: 5%;
    object-fit: cover;
    cursor: pointer;
}

.edit-bio-wrapper {
    margin-left: 50px;
}

.edit-bio-wrapper button {
    color: white;
    background-color: black;
    width: 100px;
    text-align: center;
    position: relative;
}

.edit-bio-wrapper h2 {
    width: 50%;
}

#edit-bio,
#save-bio {
    margin-top: 20px;
}

.edit-bio-wrapper textarea {
    width: 300px;
    resize: none;
    border: 2px solid black;
    border-radius: 5px;
}

.textarea-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

/* FIND USERS FEATURE   */

#find-users {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: black 2px solid;
}

ul img {
    border: 3px solid black;
    border-radius: 50%;
}

li a {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    text-decoration: none !important;
    color: black;
}

li a h2 {
    margin-left: 20px;
    cursor: pointer;
}

/* FRIENDS AND REQUESTS PAGE */

.friends-page {
    display: flex;
}

.friends-page li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

.friends-page button {
    margin-top: 15px;
}

.friends-page h4 {
    display: block; /* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.6em;
    line-height: 1.8em;
}

/* CHATROOM  */

.chat-container {
    margin-right: 10%;
}

.chat-container textarea {
    width: 100%;
    height: 120px;
    border: solid 2px black;
    border-radius: 5px;
    resize: none
}

.message-container {
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    margin: 10px 0 10px 0;
}

#chat-image-wrapper {
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-container img {
    width: 80px;
    height: 80px;
    border-radius: 3px;
    border: 2px solid black;
}
